.flag {
  display: flex;
  align-items: center;
  height: fit-content;
  padding: 10px;
  margin-right: -11px;
  margin-top: -7px;
  border-radius: 0 7px 7px 0;
}
.text-field-style {
  border-radius: 7px;
}