<template :errorType="errorType">
  <v-container>
    <div
      class="d-flex flex-row justify-center align-center my-16"
      v-if="errorType == '404'"
    >
      <v-img
        max-height="500"
        max-width="500"
        src="../assets/images/Error404.svg"
      ></v-img>
    </div>
    <div
      class="d-flex flex-row justify-center align-center my-16"
      v-if="errorType == '500'"
    >
      <v-img
        max-height="500"
        max-width="500"
        src="../assets/images/Error500.svg"
      ></v-img>
    </div>
  </v-container>
</template>

<script>
export default {
  name: "Error",
  props: ["errorType"],
};
</script>
