<template>
  <ValidationObserver ref="observer">
    <v-form @submit.prevent="submit">
      <v-container>
        <v-col cols="8">
          <ValidationProvider
            v-slot="{ errors }"
            name="first name"
            rules="required|max:10"
          >
            <label for="firstname" class="headline">First Name</label>
            <v-row md="4" class="mt-2 px-0">
              <v-text-field
                dense
                outlined
                required
                id="firstname"
                :color="fieldColor"
                :error-messages="errors"
                persistent-hint
                v-model="firstname"
                :hint="firstnameHint"
                class="mb-4 text-field-style"
              >
                <template slot="append" v-if="isValid">
                  <div class="success--text caption flag">
                    <span class="px-1">True & Identical</span>
                    <v-img src="../assets/images/right.svg"></v-img>
                  </div>
                </template>

                <template slot="append" v-if="isNotValid">
                  <div class="error--text caption flag">
                    <span class="px-1">{{ errors[0] }}</span>
                    <v-img
                      v-if="errors[0]"
                      src="../assets/images/wrong.svg"
                    ></v-img>
                  </div>
                </template>
              </v-text-field>
            </v-row>
          </ValidationProvider>
          <ValidationProvider
            v-slot="{ errors }"
            name="Phone Number"
            :rules="{
              required: true,
              digits: 11,
            }"
          >
            <label for="phoneNumber" class="headline">Phone Number</label>
            <v-row md="4" class="mt-2">
              <v-text-field
                outlined
                dense
                required
                :counter="11"
                persistent-hint
                :color="fieldColor"
                v-model="number"
                id="phoneNumber"
                :error-messages="errors"
                class="text-field-style"
                :hint="phoneNumberHint"
              >
                <template slot="append">
                  <div class="white--text primary caption flag">
                    <span class="px-1">(+966)</span>
                    <v-img src="../assets/images/SA-flag.svg"></v-img>
                  </div>
                </template>
              </v-text-field>
            </v-row>
          </ValidationProvider>
          <v-row class="mt-8" justify="end">
            <!--this does not work right -->
            <Button class="btn btn-sm mx-2 my-1" :color="color" type="submit"
              >Save</Button
            >

            <Button
              class="btn btn-sm my-1 mx-2"
              :color="color"
              outlined
              type="reset"
              >Cancel</Button
            >
          </v-row>
        </v-col>
      </v-container>
    </v-form>
  </ValidationObserver>
</template>

<script>
import Button from "./Button.vue";

export default {
  components: {
    Button,
  },
  data: () => ({
    isValid: "",
    isNotValid: null,
    color: "secondary",
    fieldColor: "success",
    firstnameHint: "Enter your first name",
    phoneNumberHint: "Enter your phone number",
    firstname: "",
    number: "",
  }),

  methods: {
    submit() {
      this.$refs.observer.validate();
      if (!this.firstname && !this.number) {
        this.isNotValid = true;
        this.isValid = false;
      }
      if (this.firstname && this.number) {
        this.isNotValid = false;
        this.isValid = true;
      } else {
        this.isNotValid = true;
        this.isValid = false;
      }
    },
    reset() {
      this.firstname = "";
      this.phoneNumber = "";
      this.isValid = "";
      this.$refs.observer.reset();
    },
  },
};
</script>
