<template>
  <nav>
    <v-app-bar color="white">
      <v-app-bar-nav-icon class="ml-10 mr-0" width="30px">
        <v-img src="../assets/images/toggle.svg"></v-img>
      </v-app-bar-nav-icon>

      <v-spacer></v-spacer>
      <div class="locale-switcher  primary-md rounded">
    <select class="locale-switcher" v-model="$i18n.locale">
      <option value="en">{{$t("navbar.english")}}</option>
      <option value="ar">{{$t("navbar.arabic")}}</option>
    </select>
      </div>

      <v-spacer></v-spacer>

      <v-btn icon>
        <div class="error-li nav-icon-back">
          <v-img src="../assets/images/logout.svg"></v-img>
        </div>
      </v-btn>
      <v-divider vertical inset></v-divider>
      <v-btn icon>
        <div class="primary-li nav-icon-back">
          <v-img src="../assets/images/settings.svg"></v-img>
        </div>
      </v-btn>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" app permanent>
      <v-list-item>
        <v-avatar class="mx-auto my-4" size="82" color="grey">logo</v-avatar>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense nav>
        <v-list-item v-for="item in items" :key="item.title" link class="mt-2">
          <v-list-item-icon>
            <div>
              <v-img width="50px" src="../assets/images/dashboard.svg"></v-img>
            </div>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title class="mt-2 subtitle-1">{{
              item.title
            }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </nav>
</template>
<script>
import Popup from "./Popup.vue";

export default {
  components: {
    Popup,
  },
  data() {
    return {
      drawer: true,
      group: null,
      items: [{ title: "Dashboard" }, { title: "Photos" }, { title: "About" }],
    };
  },
  watch: {
    group() {
      this.drawer = false;
    },
  },
};
</script>