<template>
  <v-container>
    <v-row>
      <v-text-field
        outlined
        dense
        class="my-4 mx-2 border-style"
      ></v-text-field>

      <Button :color="btnColor" class="btn btn-sm my-3 mx-1">Create</Button>
    </v-row>
  </v-container>
</template>

<script>
import Button from "./Button.vue";

export default {
  components: {
    Button,
  },
  data: () => ({
    btnColor: "primary",
  }),
};
</script>