<template>
  <v-data-table
    class="ma-8 elevation-1 table-style subtitle-2"
    :headers="headers"
    :items="items"
  >
    <template v-slot:item.avatar="{ item }">
      <v-col>
        <v-avatar size="32">
          <img :src="item.avatar" />
        </v-avatar>
      </v-col>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-row justify="space-around" class="mx-2">
        <v-btn icon small>
          <v-img src="../assets/images/show.svg"></v-img>
        </v-btn>
        <v-btn icon small>
          <v-img src="../assets/images/edit.svg"></v-img>
        </v-btn>
        <v-btn icon small>
          <v-img src="../assets/images/delete.svg"></v-img>
        </v-btn>
      </v-row>
    </template>
  </v-data-table>
</template>

<script>
export default {
  props: ["items"],
  data() {
    return {
      headers: [
        {
          text: "Id",
          sortable: false,
          value: "id",
          divider: "true",
          align: "center",
        },
        { text: "", value: "avatar", divider: "true", align: "center" },
        { text: "Name", value: "name", divider: "true" },
        { text: "Email", value: "email", divider: "true" },
        { text: "Role", value: "role" },
        { text: "", value: "actions" },
      ],
    };
  },
};
</script>
