<template>
  <v-alert
    :color="toasterColor"
    text
    :toasterType="toasterType"
    outlined
    dense
    class="alert ma-2"
    width="415pt"
  >
    <template slot="prepend" v-if="(toasterType == 'success')">
      <div class="alert-content mx-16 px-16">
        <span class="px-4"> Data entered successfully </span>
        <v-img src="../assets/images/right.svg"></v-img>
      </div>
    </template>

    <template slot="prepend" v-if="(toasterType == 'error')">
      <div class="alert-content mx-16 px-16">
        <span class="px-4"> Data entry error, try again </span>
        <v-img src="../assets/images/wrong.svg"></v-img>
      </div>
    </template>
  </v-alert>
</template>

<script>
export default {
  name: "Toaster",
  props: ["toasterColor", "toasterType"],
};
</script>
