<template>
  <Table :items="users"></Table>
</template>

<script>
import Table from "./Table.vue";
export default {
  name: "Users",
  components: {
    Table,
  },
  data() {
    return {
      users: [],
    };
  },
  methods: {
    getUser() {
      this.$axios.get("/users").then((response) => {
        this.users = response.data;
      });
    },
  },
  mounted() {
    this.getUser();
  },
};
</script>
