<template>
  <v-app id="background">
    <v-main>
      <!-- <Navbar></Navbar>
      <Search></Search>
      <Button class="btn btn-sm mt-8 ml-8" :color="btnColor" outlined
        >Login
      </Button>
      <Toaster
        :toasterColor="toasterColor"
        :toasterType="toasterType"
      ></Toaster>
      <Error :errorType="error"></Error>
      <Table></Table>
      <Form></Form> -->
      <Users></Users>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import Navbar from "@/components/Navbar.vue";
import Table from "@/components/Table.vue";
import Button from "@/components/Button.vue";
import Form from "@/components/Form.vue";
import Toaster from "@/components/Toaster.vue";
import Error from "@/components/Error.vue";
import Search from "@/components/Search.vue";
import Users from "@/components/Users.vue";

import {
  setDocumentDirectionPerLocale,
  setDocumentTitle,
  setDocumentLang,
} from "@/util/i18n/document";

export default {
  name: "App",
  components: {
    Navbar,
    Table,
    Button,
    Form,
    Toaster,
    Error,
    Search,
    Users,
  },
  data: () => ({
    btnColor: "secondary",
    toasterColor: "success",
    toasterType: "success",
    error: "500",
  }),
  mounted() {
    const language = localStorage.getItem("language");

    if (language) {
      this.$i18n.locale = JSON.parse(language);
    }
    this.$watch(
      "$i18n.locale",
      (newLocale, oldLocale) => {
        if (newLocale === oldLocale) {
          return;
        }
        setDocumentLang(newLocale);
        setDocumentDirectionPerLocale(newLocale);
        localStorage.setItem("language", JSON.stringify(newLocale));
        setDocumentTitle(this.$t("app.title"));
      },
      { immediate: true }
    );
  },
};
</script>